# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Nils Carstensen
	email = me@nils-carstensen.de
	signingkey = 1F25989330BF84C3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	tool = vimdiff
[alias]
	lg = log --color --graph --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'

  # list files which have changed since REVIEW_BASE
  # (REVIEW_BASE defaults to 'master' in my zshrc)
  # Need to set the base branch via export REVIEW_BASE=main, set default in you shell env
  files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")

  # Same as above, but with a diff stat instead of just names
  # (better for interactive use)
  stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
[inti]
	defaultBranch = main
[init]
	defaultBranch = main
[commit]
	gpgsign = true
